<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PageViewer-IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0E7835D1D988D1B00FD9AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E783711D988D1B00FD9AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E7837C1D988D1B00FD9AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
